html {
	height: 100%;
	background-color: $color-primary;
}

body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background: rgb(16,82,163);
	background: radial-gradient(circle, rgba(16,82,163,1) 0%, rgba(180,36,119,0.9570027840237657) 100%);
	color: white;
}

.appWindows {
	
	max-height: 90vh;
	overflow: auto;
}
